# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Reown / AppKit Configuration
NEXT_PUBLIC_REOWN_PROJECT_ID=94612ae0a89b01193fdfb89ab8f00d13
NEXT_PUBLIC_REOWN_REDIRECT_URI=
